
{% extends "layout.html" %}
{% block title %}Unreal Automation{% endblock %}
{% block content %}
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 md:flex-row flex-col items-center my-1">
          <div id="slideshow-placeholder"></div>
          <!-- <iframe frameborder="0" width="560" height="315" src="https://biteable.com/watch/embed/3988226/3a5966387f61d564ef7a61047b8be4df?autoplay=true" allowfullscreen="true" allow="autoplay"></iframe> <p><a href="https://biteable.com/watch/3988226/3a5966387f61d564ef7a61047b8be4df">Explain My Business (Corporate 16:9) (copy)</a> on <a href="https://biteable.com">Biteable</a>.</p> -->
            <img alt="Business Automation" class="lg:w-full" src="{{ url_for('static', filename='image/main2.gif') }}" style="height:400px;">
        </div>
    </section>
    <section class="text-gray-600 body-font">
      <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
        <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
          <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Streamline Your Workflows
          </h1>
          <p class="mb-8 leading-relaxed">
            Streamlining your workflows is essential for staying competitive in today's fast-paced business environment. Our team of experts specializes in Google Sheets automation, helping you automate repetitive tasks, eliminate errors, and achieve optimal efficiency. Say goodbye to manual data entry and complex calculations, and say hello to streamlined workflows that save you time and effort.
          </p>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded w-720 h-600" alt="Streamline Your Workflows" src="{{ url_for('static', filename='image/workflow1.gif') }}">
        </div>
      </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded w-720 h-600" alt="Unleash The Power of Automation" src="{{ url_for('static', filename='image/automation.gif') }}">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Unleash the Power of Automation</h1>
            <p class="mb-8 leading-relaxed">
              Automation is the key to unlocking your business's true potential. With our comprehensive understanding of business processes, we can develop customized automation solutions tailored to your specific needs. From data import and validation to generating reports and notifications, our automation techniques will free up your team's time and allow them to focus on strategic initiatives.
            </p>
          </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Seamless Integrations</h1>
            <p class="mb-8 leading-relaxed">
              We understand that your business relies on a variety of tools and platforms to operate effectively. That's why our automation solutions seamlessly integrate with your existing systems. Whether you need to connect with customer relationship management (CRM) software, project management tools, or other data sources, we've got you covered. Our goal is to provide you with a unified ecosystem that works harmoniously to drive your success.
            </p>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded w-720 h-600" alt="Seamless Integrations | API" src="{{ url_for('static', filename='image/api.gif') }}">
          </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded w-720 h-600" alt="Business Analytics" src="{{ url_for('static', filename='image/analysis1.gif') }}">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Advanced Analytics and Insights</h1>
            <p class="mb-8 leading-relaxed">
              Unlock the power of data with advanced analytics and insights. Our automation solutions enable you to extract valuable information from your Google Sheets, visualize trends, and make data-driven decisions. Gain actionable insights that fuel growth, optimize processes, and improve your bottom line.
            </p>
          </div>
        </div>
    </section>
    <section class="text-gray-600 body-font">
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Expert Guidance and Support</h1>
            <p class="mb-8 leading-relaxed">
              Embarking on the automation journey can seem daunting, but you don't have to go it alone. Our team of dedicated experts is here to guide you every step of the way. From initial consultation to implementation and ongoing support, we're committed to ensuring your success. Rest assured that we're just a call or email away whenever you need assistance.
            </p>
          </div>
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded w-720 h-600" alt="Guidance and Support" src="{{ url_for('static', filename='image/support.gif') }}">
          </div>
        </div>
    </section>
    <section class="text-black-600 body-font">
        <div class="container mx-auto flex px-5 py-2 md:flex-row flex-col items-center">
          <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
            <img class="object-cover object-center rounded w-720 h-600" alt="Contact Unreal Automation" src="{{ url_for('static', filename='image/contact1.gif') }}">
          </div>
          <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Get Started Today</h1>
            <p class="mb-8 leading-relaxed">
              Ready to supercharge your business with Google Sheets automation and business process optimization? Take the first step toward transforming your workflows and driving efficiency. Contact us today to schedule a consultation and discover how our tailored automation solutions can elevate your business to new heights.
            </p>
            <div class="flex justify-center">
              <a class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg" href="/about">Get In Touch...</a>
            </div>
          </div>
        </div>
    </section>
    <section class="charts_orb container">
      <div class="progress-container">
        <div class="progress-chart">
            <!-- <div class="progress-circle"></div> -->
            <div class="progress-text">
              <span id="counter-value" class="count">{{ happy_clients }}</span>
            </div>
        </div>
        <div class="orb_label">
          Happy Clients
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-chart">
            <!-- <div class="progress-circle"></div> -->
            <div class="progress-text1">
              <span id="counter-value" class="count1">{{ projects_completed }}</span>
            </div>
        </div>
        <div class="orb_label">
          completed Projects
        </div>
      </div>
      
      <div class="progress-container">
        <div class="progress-chart">
            <!-- <div class="progress-circle"></div> -->
            <div class="progress-text2">
              <span id="counter-value" class="count2">{{ application_users }}</span>
            </div>
        </div>
        <div class="orb_label">
          Happy Users
        </div>
      </div>
      <div class="progress-container">
        <div class="progress-chart">
            <!-- <div class="progress-circle"></div> -->
            <div class="progress-text3">
              <span id="counter-value" class="count3">{{ counter }}</span>
            </div>
        </div>
        <div class="orb_label">
          Unique Visitors
        </div>
      </div>
      
    </section>
    <!-- <span>Counter Value: {{counter}}</span> -->
    {% endblock %}
    
